<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <P>El portal donde podrá crear sus propios juegos!</P>
    <p><a href="/quizes/question">¡A jugar!</a></p>

  </body>
</html>
