@media only screen and (max-device-width: 480px) {

}

/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */



.offscreen { 
  position: absolute; 
  top: -30em; 
  left: -300em; 
} 

div#navigationBar { 
   margin: 0; 
   padding: .3em 0 .3em 0; 
   background: #d4ae4c; 
   width: 100%; 
   text-align: center;
   font-family:Arial;
   font-size: 20px;
} 

div#navigationBar ul { 
   list-style: none; 
   margin: 0; 
   padding: 0; 
} 

div#navigationBar ul li { 
   margin: 0; 
   padding: 0; 
   display: inline; 
} 

div#navigationBar ul a:link{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none;
   font-size: 400%; 
   color: #004415; 
} 

div#navigationBar ul a:visited{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: 500%; 
   color: #227755; 
} 

div#navigationBar ul a:active{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none;
   font-size: 500%; 
   color: #227755; 
} 

div#navigationBar ul a:hover{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: 500%; 
   color: #f6ae4c; 
   background-color: #227755; 
}

div#header{
  margin: 0; 
   background: #ffffff; 
   width: 0; 
   height:0;
   width: 100%; 
   text-align: center; 
   font-size: 30px;
   font-family: Arial;
   
   visibility:hidden;
}

div#main{
  margin: 0; 
   background: #ffffff; 
   width: 100%; 
   text-align: center;
   font-size: 100%;
   font-family:Verdana;
}

div#main table{
  margin: 0; 
   background: #ffffff; 
   width: 100%; 
   text-align: center;
   font-size: 500%;
}

div#footer{
  margin: 0; 
   padding: .3em 0 .3em 0; 
   background: #d4ae4c; 
   width: 0; 
   height:0;
   text-align: center; 
   font-size: 12px;
   font-family:Arial;
   
      visibility:hidden;
}


table {
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	font-family: Arial;
	font-size: 1.1em;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #333;

	width: 50%;
	border: 1px solid #000;
}
th, td {
	padding: 0.5em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;

	width: 25%;
	text-align: center;
	vertical-align: center;
	border: 1px solid #000;
	border-spacing: 0;
	border-collapse: collapse;
    
}
tr:nth-child(even){ background-color:#f3fbf5; }
tr:nth-child(odd){ background-color:#efbf5f; }