<!DOCTYPE html>
<html>
  <head>
  	    <meta charset="utf-8"><title>QUIZ</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <p>Javi Escariz</p>

    hola

  </body>
</html>
